/* Home top image: full-width */
.home figure {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: none;
}

.home figure img {
  width: 100%;
  height: auto;
  border-radius: 0;
}